<!DOCTYPE html>
<html lang="tr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="~/Content/images/logo.png" type="image/x-icon" />
	<link href="~/Content/third-party/cdicons/css/cdicons.css" rel="stylesheet" />
	<link href="~/Content/third-party/Devicon/devicon.min.css" rel="stylesheet" />
	<link href="~/Content/third-party/flaticons/css/flaticon.css" rel="stylesheet" />
	<link href="~/Content/style/style.css" rel="stylesheet" />
	<script src="~/Content/script/jquery-3.5.1.min.js"></script>
	<script src="~/Content/script/script.js"></script>
	<script src="~/Content/script/profile.js"></script>
	<title>Cervus Dama - @ViewBag.Title</title>
</head>
<body class="profile-body">

	<header>
		@Html.Partial("Partials/MainMenu")
	</header>

	<div class="general-alert" id="general-alert">
		<div class="alert-content">
			<div class="message"></div>
			<a href="javascript:void(0)" class="close"><i class="cdi cdi-no-alt"></i></a>
		</div>
	</div>

	<div class="general-alert alert-bg-question" id="check-alert">
		<div class="alert-content">
			<div class="message"></div>
			<div>
				<button class="btn btn-primary btn-tiny" id="alert-ok-btn">Evet</button>
				<button class="btn btn-danger btn-tiny" data-action="close">Hayır</button>
			</div>
		</div>
	</div>

	<div class="content">
		@RenderBody()
	</div>

	<!--Footer-->
	<footer>
		Copyright &copy; 2020 - Tüm hakları saklıdır.
	</footer>
	<!--Footer-->

	<button class="scroll-top">
		<i class="cdi cdi-arrow-up-alt2"></i>
	</button>

</body>
</html>