@model CervusDama.Data.Model.UserModel.ForgotPasswordModel
@{
	ViewBag.Title = "Cervus Dama | Şifremi Unuttum";
	Layout = "~/Views/Shared/_MainLayouth.cshtml";
}


<div class="page-container">
	<h1 class="page-title">Şifremi Unuttum</h1>

	<div class="forgot-text">
		Şifrenizi sıfırlamak için kayıt olurken kullandığınız email adresinizi giriniz.<br /><br />
		Email adresinize şifre sıfırlama bağlantısı gönderilecektir.
	</div>

	<div class="forgot-form">
		@using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post, new { id = "forgot-form" }))
		{

			@Html.AntiForgeryToken()
			@Html.ValidationSummary(true)

			<div class="form-item">
				<div class="form-control">
					@Html.TextBoxFor(m => m.Email, new { placeholder = "Email adresi.." })
				</div>
			</div>

			<div class="form-item" id="message" style="display:none"></div>

			<div class="form-item" style="text-align:center;">
				<button class="btn btn-primary">Şifremi Sıfırla</button>
			</div>
		}
	</div>
</div>

<script>

	$(document).ready(function () {
		$('#forgot-form').submit(function () {

			$.ajax({
				type: 'POST',
				url: '/sifremi-unuttum',
				data: $(this).serialize(),
				contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
				success: function (data) {
					if (Array.isArray(data.Message)) {

						var html = '';

						$.each(data.Message, function (i, item) {
							html += '<span class="' + (data.Status ? 'success' : 'error') + '">' + item + '</span>';
						});

						$('#message').html(html).show();
					} else {
						$('#message').html('<span class="' + (data.Status ? 'success' : 'error') + '">' + data.Message + '</span>').show();
					}
				}
			});

			return false;
		});
	});

</script>