
@{
	ViewBag.Title = "Kod Kütüphanesi";
	Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="header">
	<div class="title"><i class="fa fa-code fa-lg"></i>&nbsp;&nbsp;KOD KÜTÜPHANESİ</div>
</div>
<div class="content">
</div>
