
@{
	ViewBag.Title = "Kurucular Hakkında";
	Layout = "~/Views/Shared/_MainLayouth.cshtml";
}

<div class="page-container about-us">
	<div class="page-logo">
		<img src="~/Content/images/logo.svg" alt="Cervu Dama Logo" />
	</div>

	<h2 class="page-title">Cervus Dama Nedir?</h2>
	<p class="about-text">
		Cervus Dama ismi ülkemize özgü (en saf yabani alageyiklerin bulunduğu tek yer Antalya'dır) bir geyik türü olan Alageyik'in latince isminden gelmektedir. Yazılım alanında Türkçe içerik oluşturmak için çıktığımız yolda amacımıza uygun, anlamlı bir isim bulmak istedik. Bu tür çalışmalarda benzer isimlendirme örneklerine rastlanmaktadır. Örneğin TÜBİTAK tarafından geliştrilen Pardus işletim sistemi projesi; Pardus adı, Anadolu Parsı'nın bilimsel adı olan Panthera pardus tulliana'dan gelmektedir.
	</p>

	<h2 class="page-title">Biz Kimiz?</h2>
	<p class="about-text">
		Cervus Dama tamamen gönüllü katılım ile, üç kişiden oluşan üniversite öğrencileri tarafından kurulmuştur. Sitenin kurucuları olan bizler, Kırklareli Üniversitei Yazılım Mühendisliği bölümü son sınıf öğrencileriyiz.
		<div class="owner-img">
			<img src="~/Content/images/cck.png" />
			<img src="~/Content/images/okb.png" />
			<img src="~/Content/images/ch.png" />
		</div>
	</p>

	<h2 class="page-title about-title">Amacımız!</h2>
	<p class="about-text">
		Günümüzde iletişim kaynaklarının yaygınlaşması ile bilgiye erişmek oldukça kolay bir hale gelmiştir. Ama bu kolaylık beraberinde bazı sorunları da getirmektedir. Bu sorunlardan bizim en önemli olarak gördüğümüz, yalan yanlış, değersiz bilgilerin yayılmasıdır. Cervus Dama platformunun başlıca kurma amacımız internetteki bilgi çöplüğü içerisinde değerli bilgileri okuyuculara sunmak. Kullanıcıların bilgi çöplüğü içerisinde kaybolmasını önlemek.
		Cervus Dama platformunun sağlayacağı en büyük fayda internet üzerinde belirli kurallara bağlı yazılmış, bir topluluk tarafından değerlendirilerek onaylanmış içeriklerin paylaşılması olacaktır. Dieğr bir deyişle, Cervus Dama'nın kuruluş amacı yazılım ve bilişim disiplinlerinde  yerli bir dijital kaynak kütüphanesi oluşturmakdır.
	</p>

	<p class="about-text">
		Bir de yazılım alanında <b>kaliteli</b> Türkçe içerik yok denecek kadar az. Bu durum özellikle yazılıma yeni başlayanlar için çok büyük bir problem oluşturmakta. Kaliteli içerik üretmenin yanında ikinci önemli amacımız ise Türkçe içerik üretmektir.
	</p>

	<p class="about-text">
		Bu platform ile hem kendimizi geliştirmek hem de birilerine faydalı olmak istiyoruz. Bilginin evrensel olduğu ve buna herkesin eşit şekilde erişme hakkı olduğu felsefesi ile paylaşımlarımızı gerçekleştiriyoruz.
	</p>

	<p class="about-text">
		Cervusdama olarak şuna inanıyoruz; bu topraklarda filizlenmiş ve büyümüş olan bireylerin ilgilendikleri disiplinleri kendi dillerinde ifade edebilirler. Böylece bilim dediğimiz şey  tekrar bu çoğrafyanın diline
		sahip olacaktır. Bu amacın doğrultusunda  adımlarken bir bilgi çöplüğünün içerisinde yürüdüğümüzü farkında olarak dilimizin bize tanıdığı olanakları sömürme konusunda kararlıyız.
		Bu sömürmeyi gerçekleştirirken ifade şekillerimiz kendine özgünlüğünü korumaktadır. Koruyacağız... Buna inanıyoruz çünkü Prof.Dr Aziz Sancar'ın " Çoğu insan zekaya inanır.
		Ben inanmıyorum. Bizi birbirimizden ayıran emektir. Ben çalışmaya inanıyorum." dediği noktadayız. Magazin haberlerini okumayacağız, siyasetle ilgilenmeyeğiz, sadece dişimizle
		tırnağımız bilimin kendi dilimizde doğması için çabalayacağız.
	</p>

	<p class="about-text">
		<i>Faydalı olması dileğiyle..</i>
	</p>
</div>