<div class="tab-item" id="cookies">
	<h2 class="page-title">Çerezler ve Çerez Kullanımı</h2>

	<p class="important-info">
		<i class="cdi cdi-info"></i>
		cervusdama.com bilgisayarınızda çerezler oluşturabilir. Fakat cervusdama.com üzerinden oluşturulan çerezler kişisel bilgi olarak nitelendirilen/tanımlanan verileri içermez.
	</p>

	<h3 id="cerez-politikasi">Çerez Politikası Nedir?</h3>
	<p>
		Web sitelerine erişim sağlayan cihazların sizinle ilgili verilerin nasıl saklanacağını, hangi işlemler için kullanacağına, hangi mantık ile çalıştığını ve benzeri durumların belirtildiği, açıklandığı bilgilendirici metinlerdir. Fakat hukuki bir metin değildir.
	</p>

	<h3 id="cp-turkiye">Çerez Politikası ve Türkiye</h3>
	<p>
		Türkiye’de bütün çerez kurallarının düzenlenmesini sağlayacak bir çerez mevduatı bulunmamaktadır. Fakat çerezler, Türk hukukunda 6698 Sayılı Kişisel Verilerin Korunması kapsamında  ele alınmaktadır. Bu kanun bilgilendirme ve aydınlatmanın yeterli olacağını kabul etmektedir. Fakat Avrupa Birliğinin GDPR(Genel Veri Koruma Reglüsyonu) “Açık Rıza” ilkesini kabul etmektedir. Bu kabule göre kullanıcıya seçim hakkı verilmesi kesin bir şekilde belirtilmiş olup kullanıcının rızasının alınmasını istemektedir.
	</p>
		
	<h3 id="cp-tartisma">Çerez Politikası Tartışılma Sebepleri</h3>
	<p>
		Çerez politikasının tartışılmasını ve ülkeden ülkeye hukuki değişikliklere uğramasının nedeni, çerezlerin sitelerin çalışması için şart olmaması ve kişisel verilerin kullanım amaçlarına bakış açılarına göre değişmektedir. Aynı zamanda çerezler sayesinde belli bir kazanım elde edilebileceğinden ve bu kazanımdan kullanıcının payı olmaması, reklam planlamalarından kullanılması ve benzeri konular kullanıcıların çerezlere hoş bakmamasına neden olmaktadır. Cervusdama.com olarak benimsediğimiz çerez politikası gereği çerezlerden herhangi bir maddi gelir ve verileri reklam için kullanmaktayızdır.
	</p>

	<h3 id="cp-cookienedir">Çerez (Cookie) Nedir?</h3>
	<p>
		En yalın hali ile çerezler ziyaret ettiğiniz web sitelerinin, sizlerin belli bilgileri ve alışkanlıklarınızın tutulduğu dosyadır. Asıl amacı hem zamandan kazanmak hem de kullanıcının işini kolaylaştırmaktır. Örneğin sürekli kullandığınız bir web sitesine her seferinde üye giriş bilgilerini yazmak yerine bunların hatırlanmasını veyahut kaydedilmesini isteyerek sadece giriş butonuna basmanız verilebilir.
	</p>
	<p>
		Çerezlerin çalışma mantığı basittir. Sizin çerez politikasını onayladığınız web sitelerle ilgili ufak metin dosyalarını saklamaktadır. Bu metin dosyalarına web sitelerine girdiğinizde, sunucu site ile ilgili olan metin dosyaları bir çağırımdan bulunacak ve bu sayede bilgileriniz hatırlanacaktır. Çağırım veyahut istek işlemi ilgili site sadece kendi çerez metni için yapabilir. Bu ifade etmektedir: X sitesine ait bir çerez dosyasına Y sitesi tarafından çağırım yapılamaz. X sitesi sadece kendi çerezini çağırabilir. Ayrıca bir sitenin çerez politikasını kabul etmeniz, sizin cihazınıza erişim izni vermez ve herhangi bir virüsün bulaşmasına neden olmaz.
	</p>
	<p>
		Daha öncesinde izin vermiş olduğunuz çerez politikasını iptal edebilirisiniz. Kullandığınız tarayıcının çerezleri açma veya kapama adımlarını izleyerek bu iptali gerçekleştirebilirsiniz.
	</p>

	<h3 id="cp-cereztur">Kullanım Bakımndan Çerez Türleri</h3>
	<p>Kullanım bakımından çerez türleri Kullanılması Zorunlu Olan Çerezler, İşlev Çerezleri, Analiz/Performans Çerezleri ve Hedef/Reklam Çerezi olmak üzere dört tanedir.</p>
	<p><b>Kullanılması Zorunlu Olan Çerezler:</b> Bu tür çerezler adından anlaşılacağı üzere web sitenin çalışabilmesi için ihtiyaç duyulan çerezlerdir. Bu çerezler sayesinde sistemin yönetilmesi, sahte işlemlerin engellenmesi için kullanılır. Bu çerez kapatıldığında sitenin stabil çalışması bozulabilir.</p>
	<p><b>İşlev Çerezleri:</b> Bu çerezler sizlerin kullanıcı deneyiminizi geliştirmek ve kullanım konforunuzu artırmak amacıyla kullanılır. Örneğin web sitesine hızlı giriş yapabilmek için üyelik bilgilerinizi kaydetmeniz.</p>
	<p><b>Analiz/Performans Çerezleri:</b> Bu çerezlerin temel amacı adlandırılmasından anlaşılacağı üzere web sitesinin işleyişinin analiz edilmesine ve bu analizden bir veri kümesi oluşturmaktır. Bu veri kümesinden anlamlı bilgiler elde ederek web sitenin çalışma performansını artırmak için kullanılır.</p>
	<p><b>Hedef/Reklam Çerezi:</b> Bu çerezlerin temel amacı size ilgi alanlarınızın doğrultusunda reklamlar göstermektir. Örneğin ayakkabı kelimesini arattığınızdan sonra karşınıza ayakkabı reklamların çıkması.</p>

	<h3 id="cp-cerezsaklama">Saklanma Bakımından Çerez Türleri</h3>
	<p>Saklanma bakımında çerez türleri Kalıcı Çerezler ve Oturum çerezleri olmak üzere iki tanedir.</p>
	<p><b>Kalıcı Çerezleri:</b> Kullanıcının bilgisayarında belli bir tarihe ya da kullanıcı tarafından siline kadar saklanan çerezlerdir. Bu çerez türü genellikle kullanıcının site içerisindeki hareketlerini ölçmek amacıyla kullanılır. Örneğin kullanıcıların site içerisinde en çok hangi kategoriye tıkladığı veyahut hangi saatlerde daha yoğun alışveriş yapıldığının bakılması.</p>
	<p><b>Oturum çerezleri:</b> Geçici çerezler olup, kullanıcı tarayıcı kapatana kadar geçerli olan çerezlerdir. Temel amacı kullanıcının verilerinin üçüncü parti kişiler ile paylaşılarak reklam/hizmet amacı doğrultusunda kullanmaktır.</p>

	<h3 id="cp-cerezengelleme">Çerez Kullanımının Engellenmesi</h3>
	<p>Çerez politikasını kabul etmiş olsanız bile bunu iptal edebilirsiniz. Kullandığını tarayıcının çerezleri açma kapama adımlarını izlemelisiniz. Aşağıda birkaç tarayıcının çerez açma kapama ayarlarına giden adımlar bulunmaktadır.</p>
	
	<strong>İnternet Expoler</strong>
	<ul>
		<li>Masaüstünden İnternet Expoler simgesine tıklayın veyahut arama kutusuna İnternet Expoler yazıp ‘Enter’ tuşuna basınız.</li>
		<li>Araçlar düğmesine tıklayınız.</li>
		<li>Açılan ksıımdan internet seçeneklerine tıklayınız.</li>
		<li>Gizlilik sekmesine tıklayınız.</li>
		<li>Tüm tanımlama bilgilerini engellemek için Ayarların altında bulunan kaydırıcıyı yukarı kaydırınız.</li>
		<li>Tamam butonuna tıklayınız.</li>
	</ul>

	<strong>Microsoft Edge</strong>
	<ul>
		<li>Masaüstünden Microsoft Edge simgesine tıklayın veyahut arama kutusuna Microsoft Edge yazıp ‘Enter’ tuşuna basınız.</li>
		<li>Tarayıcınız açıldığında sağ üst köşeden üç nokta işaretine olan bölüme tıklayınız.</li>
		<li>Ayarlar bölümüne gelin.</li>
		<li>Karşınıza gelen pencereden Temizlenecek Ögeleri seçe tıklayınız.</li>
		<li>Kaldırılmasını istediğiniz ögeleri seçiniz.</li>
	</ul>

	<strong>Google Chrome</strong>
	<ul>
		<li>Masaüstünden Google Chrome simgesine tıklayınız veyahut arama kutusuna Google Chrome yazıp ‘Enter’ tuşuna basınız.</li>
		<li>Sağ üstten Diğer Ayarlara tıklayın.</li>
		<li>Alttan Gelişmişe tıklayın.</li>
		<li>“Gelişmiş ve Güvenlik”in altından İçerik Ayarlarına tıklayın.</li>
		<li>Çerezlere tıklayın.</li>
		<li>“Tüm çerezler ve site verileri”nin altında Web sitenin adını arayınız.</li>
		<li>Sitenin sağındaki kaldır simgesine tıklayınız.</li>
	</ul>

	<strong>Mozilla Firefox</strong>
	<ul>
		<li>Masaüstünden  MozillaFirefox simgesine tıklayınız veyahut arama kutusuna MozillaFirefox yazıp ‘Enter’ tuşuna basınız.</li>
		<li>Gizlilik ve Güvenlik panelini seçin ve Gelişmiş bölümüne gidiniz.</li>
		<li>Firefox ayarını geçmiş için özel ayarları kullansın olarak değiştiriniz.</li>
		<li>Çerezleri göster butonuna tıklayınız. Karşınızda çerezler görünecektir.</li>
		<li>Arama alanına silmek istediğiniz çerez politikasının ait olduğu web sitesinin adını yazınız.</li>
		<li>Silmek istediğiniz çerezleri seçiniz.</li>
		<li>Seçilenleri sil butonuna tıklayınız ve daha sonrasında tarayıcıyı kapatınız.</li>
	</ul>

	<strong>Safari</strong>
	<ul>
		<li>Masaüstünden Safari simgesine tıklayınız veyahut arama kutusuna Safari yazıp ‘Enter’ tuşuna basınız.</li>
		<li>Tarayıcı açıldığında Tercihlere gidiniz.</li>
		<li>Gizlilik ögesine tıklayınız.</li>
		<li>Web site verilerine tıklayınız.</li>
		<li>İlgili web siteyi seçip sonrasında Sil veya Tümünü Sil’e tıklayın.</li>
	</ul>

	<strong>Opera</strong>
	<ul>
		<li>Masaüstünden Opera simgesine tıklayınız veyahut arama kutusuna Opera yazıp ‘Enter’ tuşuna basınız.</li>
		<li>CTRL+F12 tuşlarına aynı anda basınız.</li>
		<li>Gelişmiş’i seçiniz.</li>
		<li>Çerezleri seçiniz.</li>
		<li>Çerezleri yönet penceresine gidiniz.</li>
		<li>Silmek istediğiniz çerez politikasını seçiniz.</li>
	</ul>


</div>