@{
	ViewBag.Title = "Doğru soru sorma teknikleri.";
	Layout = "~/Views/Shared/_MainLayouth.cshtml";
}

<div class="page-container blog-detail">
	<h2 class="page-title">Doğru soru sorma teknikleri.</h2>

	<article>
		<p class="string-content">Doğru soru sormak özellikle yazılımcılar için oldukça önemli bir konudur. Doğru soru sormak önemlidir, çünkü alacağınız yanıtı belirler. İyi bir yazılımcı karşılaştığı problemi anlaşılır bir şekilde ifade edebilmelidir. Çünkü karşılaştığı probleme dair en doğru çözümü bulmasının yolu budur. Bu sebeple ilk olarak problemi doğru ve detaylı bir şekilde anlamak gerekir.</p>
		<p class="string-content">Doğru soru sormak için izlenmesi gereken adımlar;</p>

		<h2>1. Soru sormadan önce..</h2>
		<p class="string-content">Soru sormadan önce ilk olarak karşılaşılan problemi anlamak gerekir. Problemi anladıktan sonra anahtar kelimeler belirlenmeli. Anahtar kelimeler problemin ifade edilmesi, en ilgili ve en doğru olabilecek sonuca ulaşmada büyük fayda sağlayacaktır. Karşılaşılan problemi anladıktan sonra aşağıdaki adımlar izlenmeli.</p>
		<ul>
			<li>Probleme dair belirlenen anahtar kelimeler ile internet üzerinde arama yapmak. Bu adımda sadece türkçe değil ingilizce anahtar kelimeler ile de arama yapmak faydalı olacaktır.</li>
			<li>Kullanılan teknolojinin kaynak dökümanlarına bakmak ve ilgili yardım sayfalarına gözatmak.</li>
		</ul>

		<h2>2. Sor sorarken..</h2>
		<p class="string-content">"1. Soru sormadan önce.." adımında gerekli yönergeleri izleyip hala çözüm bulunamadıysa; o zaman ilgili platformlarda problem paylaşılabilir. Bu adım soru sormanın gerçekleşeceği ve aynı zamanda çözüme ulaşmayı belirleyecek olan adımdır.</p>
	</article>
</div>