<!--Tab Item-->
<div class="tab-item" id="legal-notices">
	<h2 class="page-title">Yasal Bildirimler ve Yükümlülükler</h2>
	<p class="important-info">
		<i class="cdi cdi-info"></i>
		www.cervusdama.com’u kullanmadan önce aşağıda belirtmiş olduğumuz şartları ve koşulları lütfen okuyunuz. www.cervusdama.com üzerinden sunulmakta olan hizmetlerden yararlananlar veya herhangi şekilde erişim sağlayan her gerçek ve tüzel kişiler aşağıda belitmiş olduğumuz şartlar ve koşulları kabul etmiş bulunmaktadır.
	</p>
	<h3 id="kullanim-kosullari">Kullanım Koşulları</h3>
	<ul>
		<li>Sunulan hizmetlerin bütün hepsi www.cervusdama.com tarafından sağlanmaktadır. Bu hizmetlerin kullanım ve tasarruf yetkisi www.cervusdama.com‘a aittir. Her türlü yasal sahiplik bu yetki sahibine aittir.</li>
		<li>www.cervusdama.com gerek gördüğü zaman kullanım koşullarını ve şartlarında değişiklik yapabilir. Fakat bu değişikliği öncesinde ve sonrasında kullanıcılarıyla paylaşarak bilgilendirme yapmaktadır. Bu bilgilendirme www.cervusdama.com üzerinden yapılacaktır. Değişikliklerin takibini yapma durumu kullanıcının kendi sorumluluğundadır ve www.cervusdama.com üzerindeki hizmetlerin kullanılımı, erişime devam edilmesi durumunda kullanıcının kullanım koşullarında ve şartlarında yapılmış olan değişikliği kabul etmesi anlamına gelmektedir.</li>
		<li>www.cervusdama.com hizmetlerinden yararlana veya herhangi bir şekilde erişim sağlayan her tüzel veya gerçek kişi kullanım koşullarını ve şartlarını kabul etmiş bulunmaktadır.</li>
		<li>www.cervusdama.com web sitesinde yer almış, alıyor veyahut alacak olan bilgileri, formları, içerikleri ve benzerlerini değiştirme hakkına sahiptir. Bu durumda kullanıcı herhangi bir hak talebinde bulunamaz.</li>
	</ul>
	
	<h3 id="sozlesme-tanim">Sözleşme Tanımları</h3>
	<p>
		<b>Site:</b> www.cervusdama.com, yazılım ve bilişim disiplinlerinde bilgi paylaşımını artırma hedefi kurulmuş bir çevrimiçi web sitesidir. Bu site herhangi bir ticari güdüm hedeflememektedir. Bundan dolayı sunulan hizmetlerin maliyetini www.cervusdama.com gönüllü olarak üstlenmektedir. Bu üstlenme durumunda herhangi bir değişiklik olması halinde kullanıcılar site üzerinden bilgilendirilir.
	</p>
	<p>
		<b>Üye:</b> www.cervusdama.com çevrimiçi web sitesine kayıt olmuş kişilerin bulunduğu statüdür. Üyeler sunulan hizmetlerin hepsinden yararlanabilmektedirler. Örneğin kullanıcıların yapamadığı makale yayımlama hizmeti. Bütün üyeler www.cervusdama.com ‘un site içi kurallarına uymak zorundadır. www.cervusdama.com ‘un hizmetlerinden yararlanan veya erişim sağlayan her üyenin bu kurallarını okuduğunu ve bu kurallara uymak zorunluluğunda olduğunu kabul etmektedir. Kurallarda yapılan değişikliğin takibi üyenin sorumluluğundadır. Yapılan değişikliklerin takibini www.cervusdama.com üzerinden yapılabilmektedir.
	</p>
	<p>
		<b>Kullanıcı:</b> www.cervusdama.com çevrimiçi web sitesine kayıt olmadan kullanım gerçekleştiren kişilerin bulunduğu statüdür.  Bu statüdeki kişilerin www.cervusdama.com hizmetlerin bir kısmında veyahut hepsinden yararlanamayabilirler. Örneğin kullanıcıların makale yayımlayamaması. Bu durum üzerinde kullanıcının herhangi bir yasal ve itiraz hakkına sahip değildir.
	</p>
	<p>
		<b>Yönetici:</b> www.cervusdama.com‘un site içi düzenin sağlamakla yükümlülerdir. Uyguladıkları ve verdikleri kararların www.cervusdama.com site içi kurallarına aykırı olamazdır. Böyle bir durum ile karşılaşıldığında kararın veya yaptırımın sahibi olan yöneticinin, yöneticiliği elinden alınır ya da gerekli yaptırım uygulanır.
	</p>
	<p>
		<b>İçerik:</b> www.cervusdama.com üzerinde erişime açık olan her şey bir içeriktir. Örneğin makaleler, soru-cevaplar ve benzerleri. Bu içeriklerin fikri mülkiyeti www.cervusdama.com ‘a aittir. Üyelerin bu konuda hak talebinde, maddi bir talepte ve benzeri taleplerde bulunamaz. Kullanıcı koşulları ve şartlarını kabul etmiş her kullanıcı bu durumu kabul etmektedir.
	</p>
	<p>
		<b>Kişisel Bilgiler:</b> www.cervudama.com üzerinde kullanıcıların ve üyelere ait olan bilgilerdir. Örneğin üyenin veya kullanıcın IP adresi, ziyaret tarihi ve benzeri bilgilerdir. Bu bilgiler kimse ile paylaşılmamaktadır. Bu konuyla alakalı detaylı bilgi için çerez politikamızı inceleyiniz. Her kullanıcı ve üye bu incelemeyi yaptığını kabul etmektedir.
	</p>
	
	<h3 id="genel-hukumler">Genel Hükümler</h3>
	<ul>
		<li>www.cervusdama.com üzerinde kendi kontrolünde olmayan ve başka üçün kişilerin sahip olduğu başka web sitelerine veyahut içeriklerine yönlendirme(linkleme) yapılabilmektedir. Bu yönlendirmedeki kurum veya kuruluşları www.cervusdama.com desteklememektedir. www.cervusdama.com içerisindeki yönlendirmeler kullanıcılarımız ve üyelerimize kolaylık sağlama amacıyla bulunmaktadır. Yönlendirmenin yapıldığı sitenin ilgili bilgiyi barındırdığını, sağladığını ve benzeri beyan veya garantileri taşımamaktadır. Yönlendirme ile erişilen web sitesinin içeriklerinden www.cervusdama.com sorumlu değildir ve doğuracağı zararlardan kullanıcılar ve üyeler sorumludur. Bu sorumluluğu kullanım koşullarını ve şartlarını kabul etmiş herkes sahiptir. Gerekli görülürse yönlendirmeler www.cervusdama.com tarafından kaldırılabilir. Ayrıca www.cervusdama.com yönlendirme kurallarına uyulması gerekmektedir.</li>
		<li>www.cervusdama.com üzerinden yapılacak indirme işleminin doğurabileceği sorumluluklar kullanıcı ve üyelere aittir.www.cervusdama.com olarak site içerisinde indirmeye müsait olan belge, dosya, resim ve benzeri her şeyin virüslerden, Truva atlarından, spyware ve benzeri kötü kullanım amaçlı, zarar verme odaklı dosyalardan arındırılmış olma garantisini vermemektedir. Bu tür kötü kullanım amaçlı dosyalardan zarar görmemek adına ilgili önlemleri kullanıcı ve üyeler almak zorundadır. Bu konuda www.cervusdama.com sorumluluk üstlenmemektedir.</li>
		<li>www.cervusdama.com üzerinden kullanıcıların ve üyelerin yaptıkları işlemlerin doğurabileceği hukuki ve cezai sonuçlardan kendileri sorumludur. www.cervusdama.com sorumluluk kabul etmemektedir.</li>
		<li>www.cervusdama.com üzerinden kullanıcılar ve üyeler site kodları üzerinde tersine mühendislik yapma haklarına sahip değildir. Site kodları üzerinde tersine mühendislik yapma durumunda oluşabilecek maddi hasarların karşılanması, hukuki olarak hak arayışında muhatap alınacak kişi kullanıcının veya üyenin kendisidir.</li>
		<li>www.cervusdama.com üzerinde verilen eğitimlerin doğurabileceği sorumluklar ve yükümlükler kullanıcın ve üyenin kendisine aittir. Örneğin site içerinse verilen tersine mühendislik eğitimleri, sadece eğitim amaçlıdır. Başka bir yerde denerek sorunlara neden olmuşsa bu sorunun sorumlusu kullanıcının kendisidir.</li>
		<li>www.cervusdama.com üzerinde üretilen her türlü içeriğin lisans ve mülkiyeti kendisine aittir.</li>
		<li>www.cervusdama.com üzerinde üretilen içeriklerin intihal (aşırma) olması durumundaki hukuki yaptırımları üyenin kendisine aittir. Ayrıca böyle bir durumda karşılaşıldığında yöneticinin www.cervusdama.com kendi kurallarına göre üyeye gerekli yaptırımı yapma hakkına sahiptir.</li>
	</ul>

	<h3 id="sozlesme-feshi">Sözleşme Feshi</h3>
	<p>Üye daha öncesinde kabul ettiği kullanım koşulları ve şartları sözleşmesini iptal edebilmektedir. Bu durum sağlanabilmesi için üyenin ürettiği içeriklerde veya etkileşim halinde olduğu içeriklerde hukuki bir sürecin takibinde olmaması gerekmemektedir. Eğer ki üye kullanıcı koşulları ve şartları feshi etmiş fakat daha sonrasında onunla bağlantılı olan içerikle ilgili sorun yaşanırsa muhatap üyenin kendisidir. Sözleşme feshi tarihinden sonraki içeriklerden üye sorumlu değildir. Sözleşme feshi yapılmasına rağmen üyenin içerikleri silinmemektedir. Bu durumun farkındalığını kullanıcı koşulları ve şartlarını kabul ederek kabul etmiştir. Eğer ki üyeliğinizi silmek istiyorsanız, daha öncesinde içeriklerinizi silmenizi tavsiye ederiz.</p>
</div>
<!--Tab Item-->
