<!--Tab Item-->
<div class="tab-item" style="display:block;" id="public-rules">
	<h2 class="page-title">Kullanım Koşulları ve Üyelik Sözleşmesi</h2>
	<p class="important-info">
		<i class="cdi cdi-info"></i>
		cervusdama.com adresi üzerine yayınlanan içeriklerden, sadece yayınlayan kişi sorumludur. cervusdama.com kurucuları ve içerik yöneticileri (moderatörler) yayınlanan içeriklerden sorumlu tutulamaz.
	</p>
	<strong>
		cervusdama.com platformuna kayıt olan her kullanıcı Kullanım Koşulları ve Üyelik Sözleşmesi'ni okumuş ve kabul etmiş olduğunu beyan eder.
		Kullanım Koşulları ve Üyelik Sözleşmesi'ne uymayan içerikler, içerik sahibine herhangi bir ikaz yapılmadan direkt olarak cervusdama.com
		sisteminden silinir, gerekli hallerde içeriği üreten kullanıcı hesabı silinir.
	</strong>
	<h3 id="genel-kosullar">Genel Kullanım Koşulları</h3>
	<ul>
		<li>cervusdama.com ücretsiz, herkese açık bir bilgi paylaşım platformudur ve öyle de kalacaktır.</li>
		<li>cervusdama.com içerisinde sponsorlar hariç herhangi bir reklam görmeyeceksiniz.</li>
		<li>Küfür, argo, tehdit edici, kaba, birilerini aşağılayıcı paylaşımlarda bulunmak yasaktır.</li>
		<li>Siyasi, ideolojik ve dini içerikler paylaşmak, bu konularda tartışmalara girmek yasaktır.</li>
		<li>Din, dil, ırk ayrımına yönelik içerik paylaşmak yasaktır.</li>
		<li>cervusdama.com içerisinde emoji kullanımı ve random gülme metni kullanımı yasaktır.</li>
		<li>Kullanımı ücretli yazılımlar için crack, pathc gibi yasal olmayan yazılımların/araçların paylaşımı yasaktır.</li>
		<li>Tersine Mühendislik (Reverse Enginnering) ve Siber Güvenlik/Siber Saldırı konularında yapılan paylaşımlar <u><b>eğitim amaçlıdır</b></u>. Harhangi bir sisteme, kişiye veya yazılıma zarar vermek, kazanç sağlamak için kullanılamaz ve eğer kötü amaçla kullanılırsa cervusdama.com, kurucuları ve içerik paylaşan kullanıcı bu zarardan sorumlu tutulamaz.</li>
		<li>cervusdama.com için önemli ilkelerden biri özgün ve kaliteli içerik üretmektir. Bu doğrultuda <b>çalıntı</b> içerik paylaşmak yasaktır, kendi emeğiniz ile hazırlamadığınız içerikleri buarda paylamayınız, emek hırsızlığı yapmayınız. Çalıntı içerik paylaştığı tespit edilen hesapların süresiz olarak üyelikleri iptal edilir.</li>
		<li>cervusdama.com üzerinden birbiri ile haberdar olan kullanıcıların aralarında geçen ticaret, tartışma, dolandırılma gibi olumsuz durumlardan cervusdama.com ve cervusdama.com kurucuları ve yöneticileri sorumlu değildir.</li>
		<li>Firmalar ve şahıslar ile ilgili karalama, küfretme, küçük düşürme amaçlı paylaşımlarda bulunmak yasaktır.</li>
		<li>Başkalarına ait kişisel bilgileri (email adresi, telefon numarası, sosyal medya profili, kişinin resimleri vb.) paylaşmak, ifşa etmek yasaktır.</li>
		<li>Sadece cervusdama.com platformuna kayıtlı hesabı ile oturum açmış kullanıcılar içerik üretip paylaşımda bulunabilirler.</li>
		<li>Amacımız kaliteli Türkçe içerik oluşturmak olduğundan cervusdama.com içerisinde <b>Türkçe</b> dışında bir dil kullanmak yasaktır.</li>
		<li>
			Eklenecek herhangi bir içerikte cervusdama.com dışı bir adrese bağlantı verirken;
			<ul>
				<li>Kısaltılmış link vermek yasaktır.</li>
				<li>Ahlaka aykırı içeriklere sahip internet adreslerine link vermek yasaktır.</li>
				<li>Din, dil, ırk, nefret söylemi içeren bağltılara link vermek yasaktır.</li>
				<li>Verilen bağlantıya tıklanmasından kaynaklanan zarardan cervusdama.com sorumlu değildir.</li>
			</ul>
		</li>
	</ul>

	<h3 id="uyelik-kosullari">Üyelik/Hesap Kuralları</h3>
	<p>cervusdama.com üzerinde hesap oluşturduğunuzda;</p>
	<ul>
		<li>Kullanıcı adı admin ve benzeri türevler olamaz.</li>
		<li>Üye olurken kendi isminizi ve soyisminizi kullanmalısınız. Başkasına ait bilgilerle hesap açmak, belirli bir kişiyi taklit etmek, oymuş gibi davranmak yasaktır.</li>
		<li>Argo, küfür içeren, anlamsız ve klavyeden rast gele basılan bilgiler ile hesap oluşturmak yasaktır. Bu şekilde tespit edilen hesaplar direkt silinecektir.</li>
		<li>Kayıt oldurken kullandığınız email adresi hariç diğer bilgileriniz profil sayfanızda gösterilmektedir. Bu biligleriniz profil sayfanızda herkes tarafından görülebilir.</li>
		<li>Kayıt olurken seçmiş olduğunuz şifre cervusdama.com veritabanında çeşitli şifreleme algoritmalarından geçirilerek güvenli bir şekilde saklanmaktadır.</li>
		<li>Üyeliğinizi istediğiniz zaman, sebep göstermeksizin sonlandırabilirsiniz.</li>
		<li>
			Üyeliğinizi sonlandırmanız halinde aşağıdaki bilgiler kalıcı olarak silinecektir.
			<ul>
				<li>Hesap bilgileri.</li>
				<li>Profil bilgileri.</li>
				<li>Profil resminiz.</li>
				<li>Eklemiş olduğunuz sorular, cevaplar, makale yorumları.</li>
				<li>İçerik oylamaları (beğenme, beğenmeme).</li>
			</ul>
		</li>
		<li>Üyeliğinizi silmeniz halinde eklemiş olduğunuz makaleler "Anonim" isimli genel bir hesap sahipliğine geçerek cervusdama.com üzerinde kalmaya devam edecektir. Fakat sizin ile bir ilişkisi kalmayacaktır.</li>
		<li>cervusdama.com üzerinde kötüye kullanmaya yönelik her türlü hareketiniz kaydedilmektedir. Gerektiğinde yetkili merciler ile paylaşılabilir.</li>
	</ul>

	<h3 id="makale-kosullari">Makele/Yazı Bölümü Kullanım Koşulları</h3>
	<p>cervusdama.com'un kuruluş amaçlarından en önemlisi internet üzerinde kaliteli, türkçe içerik oluşturmaktır. Bu sebeple kalitenin sağlanması ve sürdürülebilir olması için makale eklerken aşağıdaki kurallara dikkat edilmesi son derece önemlidir.</p>
	<ul>
		<li>Amacımız türkçe içerik üretmek olduğundan, Türkçe harici bir dilde makale yazımı yasaktır.</li>
		<li>Makale resmi bir dille, Türkçe dilbilgisi kurallarına uygun yazılmalıdır. Günlük konuşma veya sohbet havasında makele yazımı yasaktır.</li>
		<li>Makale içeriği zengin olmalıdır. Olabildiğince ayrıntı verilerek anlatılmak istenen konu aydınlatılmalıdır.</li>
		<li>Makale ismi kısa, açıklayıcı ve 10 kelimeyi geçmeyecek şekilde ayarlanmalıdır.</li>
		<li>Makale içerisindeki alt başlıklar konuya uygun olarak düzenlenmelidir.</li>
		<li>Makale içerisinde kullanılan ingilizce terimlerin türçe karşılıkları belirtilmeyi veya açıklanmalıdır. Unutmayın bizler bilimi Türkçe olarak yapmak istiyoruz, bundan dolayı yarı İngilizce yarı Türkçe makalaler okumak istemiyoruz.</li>
		<li>Makale içeriği ile ilgili kategoriler doğru bir şekilde seçilmeli ve makale içeriğini özetleyecek şekilde etiketler girilmelidir.</li>
		<li>Makale içerisindeki kod satırları normal metin gibi yazılamaz. Her kod satırı kod editöründe gösterilmelidir. Ayrıca ilgili programlama dilinde gösterilmesi zorunludur.</li>
		<li>Kopya, alıntı, çalıntı içerik yayınlamak yasaktır. Kopya, alıntı veya çalıntı olduğu tespit edilen paylaşım ve paylaşımı yapan hesap cervusdama.com üzerinden silinir. (<b>cervusdama.com platformunda hırsızlara ve özellikle emek hızrsızlarına yer yoktur.</b>)</li>
		<li>Herhangi bir kaynaktan alıntı yapılacaksa eğer; alıntı, kaynağı belirtilerek eklenmesi zorunludur.</li>
		<li>Eklenen makaleler yönetim ve içerik editörü ekibimiz tarafından değerlendirildikten sonra yayına alınacaktır.</li>
		<li>Yönetici ve içerik editörü ekibimiz tarafından yetersiz bulunan ya da "Makele/Yazı Ekleme Koşulları" başlığı altında belirtilen kurallara uymayan makaleler yayından kaldırılarak makale sahibi tarafından düzenlenmesi istenebilir.</li>
		<li>Eklemiş olduğunuz makaleleri/yazıları istediğiniz gibi yayından kaldırabilir ya da kalıcı olarak silebilirsiniz.</li>
	</ul>

	<h3 id="sorucevap-kosullari">Soru &amp; Cevap Bölümü Kullanım Koşulları</h3>
	<p>Soru &amp; Cevap bölümü kullanıcıların birbiri ile yardımlaşmasını ve direkt sorun odaklı bilgi paylaşımını sağlamak amacıyla oluşturulmuştur. Yazılım ile ilgili tüm konularda sorununuzu iletebilirsiniz.</p>
	<ul>
		<li>Soru sormadan önce <a href="@Url.RouteUrl("AskRightQuestion")" target="_blank"><mark>Doğru soru sorma teknikleri</mark></a> sayfasına göz atınız.</li>
		<li>Soru sormadan önce Soru & Cevap bölümünde arama modülünü kullanarak karşılaştığınız sorun ile ilgili arama yapınız. Belki başka bir kullanıcı da aynı sorun ile karşılaşmış olabilir; bu sayede çözüm bulmanız daha hızlı olacaktır.</li>
		<li>Sorular ve cevaplar düzgün bir türkçe kullanarak, yanlış anlamaya imkan vermeyecek şekilde açık ve net olarak belirtilmelidir. Gerekirse görsel ve kod örnekleri eklemelisiniz.</li>
		<li>Soru başlığı sorunu özetler nitelikte olmalıdır. Dikkat çekici ifadeleri (yardım, acil yardım, kod çalışmıyor vb.) soru başlığında kullanmak yasaktır.</li>
		<li>Soruya küçümseyici ve yerici cevaplar göndermek yasaktır.</li>
		<li>Cevaplar yardımcı olacak şekilde, yapıcı ve öğretici şekilde girilmelidir.</li>
		<li>Eklemiş olduğunuz soruları istediğiniz gibi yayından kaldırabilir ya da kalıcı olarak silebilirsiniz. Size ait bir soruyu sildiğinizde o soruya eklenmiş olan tüm cevaplar da silinecektir.</li>
		<li>Ödev, sınav soruları gibi içerikler paylaşıp, yardım istemek yasaktır.</li>
	</ul>

	<h3 id="kodkutuphanesi-kosullari">Kod Kütüphanesi Kullanım Koşulları</h3>
	<p>Geliştirdiğiniz algoritmalara ya da yazılım problemlerine getirdiğiniz ilgi çekici, özel kod parçalarını Kod Kütüphanesi bölümü üzerinden diğer kullanıcılar ile paylaşabilirisiniz.</p>

	<p class="important-info bolder">
		<i class="cdi cdi-info"></i>
		İçerik Sağlayıcı Paylaşım sitelerinden birisi olan CERVUSDAMA.COM sitesinde T.C.K 20.ci Madde ve 5651 Sayılı Kanun'un 4.cü maddesinin (2).ci fıkrasına göre TÜM Kayıtlı Kullanıcılar paylaştıkları içeriklerden kendileri sorumludur.
	</p>
</div>
<!--Tab Item-->
