<!--Tab Item-->
<div class="tab-item" id="user-rules">
	<h2 class="page-title">Üyelik Sözleşmesi</h2>
	<p class="important-info">
		<i class="cdi cdi-info"></i>
		cervusdama.com adresi üzerine yayınlanan içeriklerden, sadece yayınlayan kişi sorumludur. cervusdama.com kurucuları ve içerik yöneticileri (moderatörler) yayınlanan içeriklerden sorumlu tutulamaz.
	</p>
	<strong>
		cervusdama.com kurallarına ve kullanım sözleşmesine uymayan içerikler, içerik sahibine herhangi bir ikaz yapılmadan direkt olarak cervusdama.com sisteminden silinir ve içeriği üreten kullanıcı hesabı silinir.
	</strong>
	<ul>
		<li>Küfür, argo, tehdit edici, kaba, birilerini aşağılayıcı paylaşımlarda bulunmak yasaktır.</li>
		<li>Siyasi, ideolojik ve dini içerikler paylaşmak, bu konularda tartışmalara girmek yasaktır.</li>
		<li>Din, dil, ırk ayrımına yönelik içerik paylaşmak yasaktır.</li>
		<li>Kullanımı ücretli yazılımlar için crack, pathc gibi yasal olmayan yazılımların/araçların paylaşımı yasaktır.</li>
		<li>Tersine Mühendislik (Reverse Enginnering) ve Siber Güvenlik/Siber Saldırı konularında yapılan paylaşımlar <u><b>eğitim amaçlıdır</b></u>. Harhangi bir sisteme, kişiye veya yazılıma zarar vermek, kazanç sağlamak için kullanılamaz ve eğer kötü amaçla kullanılırsa cervusdama.com, kurucuları ve içerik paylaşan kullanıcı bu zarardan sorumlu tutulamaz.</li>
		<li>cervusdama.com için önemli ilkelerden biri özgün ve kaliteli içerik üretmektir. Bu doğrultuda <b>çalıntı</b> içerik paylaşmak yasaktır, kendi emeğiniz ile hazırlamadığınız içerikleri buarda paylamayınız, emek hırsızlığı yapmayınız. Çalıntı içerik paylaştığı tespit edilen hesapların süresiz olarak üyelikleri iptal edilir.</li>
		<li>cervusdama.com üzerinden birbiri ile haberdar olan kullanıcıların aralarında geçen ticaret, tartışma, dolandırılma gibi olumsuz durumlardan cervusdama.com ve cervusdama.com kurucuları ve yöneticileri sorumlu değildir.</li>
		<li>Firmalar ve şahıslar ile ilgili karalama, küfretme, küçük düşürme amaçlı paylaşımlarda bulunmak yasaktır.</li>
		<li>Başkalarına ait kişisel bilgileri (email adresi, telefon numarası, sosyal medya profili, kişinin resimleri, web sitesi vb.) paylaşmak yasaktır.</li>
		<li>Üye olurken gerçek isminizi ve soyisminizi kullanmalısınız. Başkasına ait bilgilerle hesap açmak, belirli bir kişiyi taklit etmek, oymuş gibi davranmak yasaktır.</li>
		<li>Amacımız kaliteli Türkçe içerik oluşturmak olduğundan cervusdama.com içerisinde <b>Türkçe</b> dışında bir dil kullanmak yasaktır.</li>
	</ul>
	<p class="important-info bolder">
		<i class="cdi cdi-info"></i>
		İçerik Sağlayıcı Paylaşım sitelerinden birisi olan CERVUSDAMA.COM sitesinde T.C.K 20.ci Madde ve 5651 Sayılı Kanun'un 4.cü maddesinin (2).ci fıkrasına göre TÜM Kayıtlı Kullanıcılar paylaştıkları içeriklerden kendileri sorumludur.
	</p>
</div>
<!--Tab Item-->